<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <h1>Hello User !!</h1>
            <% data.forEach((datas)=>{ %>
                
                <h1>Hello <%= datas%></h1>


            <% }) %>
        </div>
    </div>
</div>


